

# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
Build/
build/
Build32/
build32/
Build64/
build64/
Build_32/
build_32/
Build_64/
build_64/
x64/
x86/
log/
logs/
vcpkg/
.vs/
bin/

.idea/*
*cbp
*.tlog
*.vcxproj
*.log
zone/zone.dir/Debug/zone.vcxproj.FileListAbsolute.txt
zone/zone.dir/Release/zone.vcxproj.FileListAbsolute.txt
zone/zone.dir/RelWithDebInfo/zone.vcxproj.FileListAbsolute.txt
Win32/Release/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
Win32/Release/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
Win32/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
Win32/RelWithDebInfo/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
Win32/Debug/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
ucs/ucs.dir/RelWithDebInfo/ucs.vcxproj.FileListAbsolute.txt
ucs/ucs.dir/Release/ucs.vcxproj.FileListAbsolute.txt
ucs/ucs.dir/Debug/ucs.vcxproj.FileListAbsolute.txt
Win32/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
world/world.dir/RelWithDebInfo/world.vcxproj.FileListAbsolute.txt
world/world.dir/Debug/world.vcxproj.FileListAbsolute.txt
world/world.dir/Release/world.vcxproj.FileListAbsolute.txt
shared_memory/shared_memory.dir/RelWithDebInfo/shared_memory.vcxproj.FileListAbsolute.txt
shared_memory/shared_memory.dir/Debug/shared_memory.vcxproj.FileListAbsolute.txt
shared_memory/shared_memory.dir/Release/shared_memory.vcxproj.FileListAbsolute.txt
queryserv/queryserv.dir/RelWithDebInfo/queryserv.vcxproj.FileListAbsolute.txt
queryserv/queryserv.dir/Release/queryserv.vcxproj.FileListAbsolute.txt
queryserv/queryserv.dir/Debug/queryserv.vcxproj.FileListAbsolute.txt
libs/recast/recast_navigation.dir/RelWithDebInfo/recast_navigation.vcxproj.FileListAbsolute.txt
libs/recast/recast_navigation.dir/Release/recast_navigation.vcxproj.FileListAbsolute.txt
libs/recast/recast_navigation.dir/Debug/recast_navigation.vcxproj.FileListAbsolute.txt
*.filters

client_files/export/export_client_files.dir/Debug/export_client_files.vcxproj.FileListAbsolute.txt
client_files/export/export_client_files.dir/Release/export_client_files.vcxproj.FileListAbsolute.txt
client_files/import/import_client_files.dir/Release/import_client_files.vcxproj.FileListAbsolute.txt
client_files/import/import_client_files.dir/RelWithDebInfo/import_client_files.vcxproj.FileListAbsolute.txt
client_files/import/import_client_files.dir/Debug/import_client_files.vcxproj.FileListAbsolute.txt
client_files/export/export_client_files.dir/RelWithDebInfo/export_client_files.vcxproj.FileListAbsolute.txt
common/common.dir/Debug/common.vcxproj.FileListAbsolute.txt
common/common.dir/Release/common.vcxproj.FileListAbsolute.txt
common/common.dir/RelWithDebInfo/common.vcxproj.FileListAbsolute.txt
eqlaunch/eqlaunch.dir/Debug/eqlaunch.vcxproj.FileListAbsolute.txt
eqlaunch/eqlaunch.dir/Release/eqlaunch.vcxproj.FileListAbsolute.txt
eqlaunch/eqlaunch.dir/RelWithDebInfo/eqlaunch.vcxproj.FileListAbsolute.txt
libs/format/fmt/fmt.dir/Debug/fmt.vcxproj.FileListAbsolute.txt
libs/format/fmt/fmt.dir/Release/fmt.vcxproj.FileListAbsolute.txt
libs/format/fmt/fmt.dir/RelWithDebInfo/fmt.vcxproj.FileListAbsolute.txt
libs/libuv/libuv.dir/RelWithDebInfo/libuv.vcxproj.FileListAbsolute.txt
libs/luabind/luabind.dir/Debug/luabind.vcxproj.FileListAbsolute.txt
libs/luabind/luabind.dir/Release/luabind.vcxproj.FileListAbsolute.txt
libs/luabind/luabind.dir/RelWithDebInfo/luabind.vcxproj.FileListAbsolute.txt
bin.rar
ALL_BUILD.vcxproj.user
EQEmu.sln
*.sln
*.user
